.auth-container {

    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;

    background:
        radial-gradient(circle at top left,#2de2e6 0%,transparent 25%),
        radial-gradient(circle at bottom right,#7b2ff7 0%,transparent 30%),
        #090b12;
}

.auth-box {

    width: 430px;

    background: rgba(22,24,35,.9);

    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,.08);

    border-radius: 20px;

    padding: 40px;

    box-shadow:
        0 20px 50px rgba(0,0,0,.5);
}

.form-box {

    display: none;
    flex-direction: column;
}

.form-box.active {
    display: flex;
}

.form-box h2 {

    color: white;

    text-align: center;

    margin-bottom: 25px;
}

.form-box input {

    width: 100%;
    box-sizing: border-box;

    margin-bottom: 14px;

    padding: 14px;

    border-radius: 10px;

    border: 1px solid transparent;

    background: #1b1f2d;

    color: white;

    outline: none;

    transition: .25s;
}

.form-box input:focus {

    border-color: #2de2e6;

    box-shadow:
        0 0 15px rgba(45,226,230,.3);
}

.form-box button[type="submit"] {

    margin-top: 10px;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background:
        linear-gradient(
            90deg,
            #2de2e6,
            #7b2ff7
        );

    color: white;

    font-weight: bold;

    cursor: pointer;

    transition: .3s;
}

.form-box button[type="submit"]:hover {

    transform: translateY(-2px);

    box-shadow:
        0 10px 25px rgba(45,226,230,.3);
}

.divider {

    display: flex;
    align-items: center;

    margin: 25px 0;

    color: #999;
}

.divider::before,
.divider::after {

    content: "";

    flex: 1;

    height: 1px;

    background: #333;
}

.divider span {

    padding: 0 15px;
}

.social-login {

    display: flex;
    flex-direction: column;

    gap: 12px;
}

.social-btn {

    width: 100%;

    height: 50px;

    border: none;

    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    font-weight: 600;

    cursor: pointer;

    transition: .25s;
}

.social-btn:hover {

    transform: translateY(-2px);
}

.social-btn i {

    font-size: 18px;
}

/* GOOGLE */

.google {

    background: white;
    color: #333;
}

/* FACEBOOK */

.facebook {

    background: #1877f2;
    color: white;
}

/* INSTAGRAM */

.instagram {

    color: white;

    background:
        linear-gradient(
            45deg,
            #feda75,
            #fa7e1e,
            #d62976,
            #962fbf,
            #4f5bd5
        );
}

.form-box p {

    margin-top: 20px;

    text-align: center;

    color: #aaa;
}

.form-box a {

    color: #2de2e6;

    cursor: pointer;

    font-weight: 600;
}

.form-box a:hover {

    text-decoration: underline;
}